<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.lby.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StuServlet</servlet-name>
        <servlet-class>com.lby.servlet.StuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeaServlet</servlet-name>
        <servlet-class>com.lby.servlet.TeaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecServlet</servlet-name>
        <servlet-class>com.lby.servlet.SecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportteacherServlet</servlet-name>
        <servlet-class>com.lby.servlet.ExportteacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportStudentServlet</servlet-name>
        <servlet-class>com.lby.servlet.ExportStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportcourseServlet</servlet-name>
        <servlet-class>com.lby.servlet.ExportcourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StuServlet</servlet-name>
        <url-pattern>/StuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeaServlet</servlet-name>
        <url-pattern>/TeaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecServlet</servlet-name>
        <url-pattern>/SecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportteacherServlet</servlet-name>
        <url-pattern>/ExportteacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportStudentServlet</servlet-name>
        <url-pattern>/ExportStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportcourseServlet</servlet-name>
        <url-pattern>/ExportcourseServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ExportquestionServlet</display-name>
        <servlet-name>ExportquestionServlet</servlet-name>
        <servlet-class>com.lby.servlet.ExportcourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportquestionServlet</servlet-name>
        <url-pattern>/ExportquestionServlet</url-pattern>
    </servlet-mapping>
    <mime-mapping>
        <extension>htc</extension>
        <mime-type>Text/x-component</mime-type>
    </mime-mapping>
</web-app>